<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="Layout :: head">
</head>
<body>
<div class="content">
    <div class="split">
        <div th:replace="Layout :: mobile"></div>
        <div th:replace="Layout :: menu(${user})"></div>

        <div class="payload">
            <div class="page page-short">
                <h1>Erőforrás hozzáférési jogosultságai</h1>

                <h2>Jelenleg hozzáfér</h2>
                <div class="responsive-table-wrapper">
                    <table>
                        <tr>
                            <th>Név</th>
                            <th class="centered-text">Visszavonás</th>
                        </tr>
                        <tr class="group" th:each="division : ${ownerDivisions}" th:object="${division}">
                            <td th:text="*{name}"></td>
                            <td class="centered-text">
                                <form action="#" method="post" th:action="|@{/admin/group/}${groupId}/resource/${resourceId}/access/revoke|">

                                    <input type="hidden" name="id" th:value="*{id}" />
                                    <input type="submit" value="Visszavon" class="btn"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <h2>Hozzéférés kiterjesztése</h2>
                <form action="#" method="post" th:action="|@{/admin/group/}${groupId}/resource/${resourceId}/access/grant|" class="card centered-text">

                    <select name="id">
                        <option th:each="opt : ${availableDivisions}" th:text="${opt.name}" th:value="${opt.id}">division</option>
                    </select>
                    <input type="submit" value="Hozzáad" class="ml-2" />
                </form>

                <a href="#" th:href="|@{/admin/group/}${groupId}/resources|" class="btn btn-secondary">Vissza</a><br />
            </div>
        </div>
    </div>
</div>
</body>
</html>
