<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="Layout :: head">
    <meta charset="UTF-8">
    <title>Will be replaced</title>
</head>
<body>
    <div class="content">
        <h2>New resource</h2>
        <form action="#" th:action="|@{/admin/group/}${groupId}/division/${divisionId}/resource|" method="post" th:object="${newResource}">
            <label for="name">Name</label>
            <input id="name" type="text" th:field="*{name}" /><br />

            <label for="division">Division</label>
            <input id="division" type="text" th:value="${divisionName}" disabled /><br />

            <label for="code">Code</label>
            <input id="code" type="text" th:field="*{code}" /><br />

            <label for="description">Description</label>
            <textarea id="description" th:field="*{description}"></textarea><br />

            <label for="visible">Visible</label>
            <input id="visible" type="checkbox" th:field="*{visible}" /><br />

            <label for="available">Available</label>
            <input id="available" type="checkbox" th:field="*{available}" /><br />

            <label for="storageRoom">Storage Room</label>
            <input id="storageRoom" type="text" th:field="*{storageRoom}" /><br />

            <input type="submit" />
        </form>

    </div>
</body>
</html>
