<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="Layout :: head">
</head>
<body>
<div class="content">
    <div class="split">
        <div th:replace="Layout :: mobile"></div>
        <div th:replace="Layout :: menu(${user})"></div>

        <div class="payload">
            <div class="page page-short">
                <h2>Új erőforrás</h2>
                <form action="#" th:action="|@{/admin/group/}${groupId}/resource|" method="post" th:object="${newResource}" enctype="multipart/form-data">
                    <div class="field-group">
                        <label for="name">Név</label>
                        <input id="name" type="text" th:field="*{name}" />
                    </div>

                    <div class="field-group">
                        <label for="code">Kód</label>
                        <input id="code" type="text" th:field="*{code}" />
                        <span class="note">Ha változik, akkor új QR kódra is van szükség</span><br />
                        <button class="btn mt-1" onclick="generateCode()" type="button">Egyedi kód generálása</button>
                    </div>

                    <div class="field-group">
                        <label for="description">Leírás</label>
                        <textarea id="description" th:field="*{description}"></textarea>
                    </div>

                    <div class="field-group">
                        <label for="visible">Láthatóság</label>
                        <div style="clear: both"></div>

                        <label class="switch">
                            <input type="checkbox" th:checked="*{visible}" th:name="visible" id="visible" />
                            <span class="slider"></span>
                        </label>
                        <span class="note">Legyen-e látható és elérhető nem admin felhasználóknak is?</span>
                        <div style="clear: both"></div>
                    </div>

                    <div class="field-group">
                        <label for="available">Bérelhető</label>
                        <div style="clear: both"></div>

                        <label class="switch">
                            <input type="checkbox" th:checked="*{available}" th:name="available" id="available" />
                            <span class="slider"></span>
                        </label>
                        <span class="note">Legyen-e bérelhető?</span>
                        <div style="clear: both"></div>
                    </div>

                    <div class="field-group">
                        <label for="storageRoom">Tároló helyiség</label>
                        <input id="storageRoom" type="text" th:field="*{storageRoom}" />
                    </div>

                    <div class="field-group">
                        <label for="file">Ikon</label>
                        <input class="file-input" type="file" id="file" name="file" />
                    </div>

                    <div class="field-group">
                        <input type="submit" value="Mentés" class="btn-large" />
                        <a th:href="|@{/admin/group/}${groupId}/resources|" class="btn btn-secondary btn-large">Vissza</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    async function generateCode() {
        document.getElementById('code').value = await httpFetchData('GET', '/admin/generate/resource-id');
    }

    async function httpFetchData(method = 'POST', url = '', data = {}) {
        const response = await fetch(url, {
            method: method,
            mode: 'cors',
            cache: 'no-cache',
        });
        return response.text();
    }

</script>
</body>
</html>
