<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="Layout :: head">
</head>
<body>
<div class="content">
    <div class="split">
        <div th:replace="Layout :: mobile"></div>
        <div th:replace="Layout :: menu(${user})"></div>

        <div class="payload">
            <div class="page page-short">
                <h1 th:text="${division.name}">XY division</h1>

                <h2>Erőforrások</h2>
                <table>
                    <tr>
                        <th>Név</th>
                        <th></th>
                    </tr>
                    <tr class="group" th:each="resource : ${resources}" th:object="${resource}">
                        <td th:text="*{name}">resource name</td>
                        <td class="right-text">
                            <a href="#" th:href="|@{/resource/}*{id}|"><span class="material-icons fix-icons">inventory_2</span></a>
                        </td>
                    </tr>
                </table>

                <h2>Tagok</h2>
                <table>
                    <tr>
                        <th>Név</th>
                        <th></th>
                    </tr>
                    <tr class="group" th:each="member : ${members}" th:object="${member}">
                        <td th:text="*{name}">member name</td>
                        <td class="right-text">
                            <a href="#" th:href="|@{/user/}*{id}|"><span class="material-icons fix-icons">person</span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
