<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title th:text="#{app.name}">AppName</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <meta name="theme-color" content="#444444">
    <meta name="msapplication-navbutton-color" content="#444444"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#444444"/>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>

    <div class="content">
        <div class="split">
            <div class="header" th:fragment="mobile">
                <span th:text="#{app.name}">AppName</span>
                <span class="material-icons fix-icons menu-icon" onclick="document.getElementById('menu').style.display = 'block'">menu</span>
            </div>
            <div class="menu" th:fragment="menu(userEntity)" id="menu">
                <h1 th:text="#{app.name}">AppName</h1>
                <div class="exit" onclick="document.getElementById('menu').style.display = 'none'">x</div>
                <div class="separate"></div>

                <h2>Általános</h2>
                <a href="#" th:href="@{/}"><span class="material-icons fix-icons">home</span> Kezdőlap</a>
                <a href="#" th:href="@{/search}"><span class="material-icons fix-icons">search</span> Erőforrások</a>
                <a href="#" th:href="@{/identify}"><span class="material-icons fix-icons">qr_code_scanner</span> Beazonosítás</a>
                <a href="#" th:href="@{/groups}" th:if="${userEntity != null && userEntity.isRegular()}"><span class="material-icons fix-icons">group</span> Csoportok</a>

                <object th:remove="tag" th:if="${userEntity != null && userEntity.isRegular()}">
                    <h2>Felhasználói</h2>
                    <a href="#" th:href="@{/profile}"><span class="material-icons fix-icons">account_circle</span> <ins th:remove="tag" th:text="${userEntity.name}"></ins></a>
                    <a href="#" th:href="@{/profile/requests}"><span class="material-icons fix-icons">event</span> Foglalásaim</a>
                    <a href="#" th:href="@{/receive}"><span class="material-icons fix-icons">qr_code</span> Átvétel</a>
                </object>

                <object th:remove="tag" th:if="${userEntity != null && userEntity.hasDivisions()}">
                    <h2>Csoport</h2>
                    <a href="#" th:href="@{/requests}"><span class="material-icons fix-icons">free_cancellation</span> Kérelmek
                        <ins class="danger-badge" th:if="${requestCount != null && requestCount > 0}" th:text="${requestCount > 20 ? '20+' : requestCount}">20+</ins>
                    </a>
                    <a href="#" th:href="@{/return}"><span class="material-icons fix-icons">assignment_return</span> Visszavétel</a>
                    <a href="#" th:href="@{/inventory}"><span class="material-icons fix-icons">fact_check</span> Leltárazás</a>
                </object>

                <object th:remove="tag" th:if="${userEntity != null && userEntity.isAdmin()}">
                    <h2>Adminisztráció</h2>
                    <a href="#" th:href="@{/admin}"><span class="material-icons fix-icons">settings</span> Admin menü</a>
                    <a href="#" th:href="@{/su/groups}" th:if="${userEntity != null && userEntity.isSuperuser()}"><span class="material-icons fix-icons">star</span> Csoportok kezelése</a>
                    <a href="#" th:href="@{/su/users}" th:if="${userEntity != null && userEntity.isSuperuser()}"><span class="material-icons fix-icons">star</span> Felhasználók kezelése</a>
                </object>

                <object th:remove="tag" th:if="${testingMode != null && testingMode}">
                    <h2>Teszt</h2>
                    <a href="#" th:href="@{/testing}"><span class="material-icons fix-icons">report</span> Teszt menü</a>
                </object>

                <div class="separate"></div>

                <a href="#" th:href="@{/oauth2/authorization/authsch}" th:if="${userEntity == null || !userEntity.isRegular()}"><span class="material-icons fix-icons">login</span> Bejelentkezés</a>
                <a href="#" th:href="@{/control/logout}" th:if="${userEntity != null && userEntity.isRegular()}"><span class="material-icons fix-icons">logout</span> Kijelentkezés</a>

                <div class="separate"></div>
            </div>
        </div>
    </div>

</body>
</html>
