<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="Layout :: head">
    <meta charset="UTF-8">
    <title>Will be replaced</title>
</head>
<body>
    <div class="content">
        <h2 th:text="|${division.name} division|">XY division</h2>

        <h3>Resources</h3>
        <table>
            <tr>
                <th>Resource</th>
                <th>...</th>
            </tr>
            <tr class="group" th:each="resource : ${resources}" th:object="${resource}">
                <td th:text="*{name}">resource name</td>
                <td>
                    <!-- admin: -->
                    <a href="#" th:href="|@{/admin/group/}${division.parentGroup.id}/resource/*{id}/edit|">edit</a>

                    <a href="#" th:href="|@{/division/}*{id}|">open</a>
                </td>
            </tr>
        </table>

        <!-- admin: -->
        <a href="#" th:href="|@{/admin/group/}${division.parentGroup.id}/division/${divisionId}/resource|">new resource</a>

        <h3>Members</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>...</th>
            </tr>
            <tr class="group" th:each="member : ${members}" th:object="${member}">
                <td th:text="*{name}">member name</td>
                <td>
                    <a href="#" th:href="|@{/templates/regular/}*{id}|">profile</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
