<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="Layout :: head">
</head>
<body>
<div class="content">
    <div class="split">
        <div th:replace="Layout :: mobile"></div>
        <div th:replace="Layout :: menu(${user})"></div>

        <div class="payload">
            <div class="page page-short">
                <h1>Új csoport</h1>
                <form action="#" th:action="@{/su/group}" method="post" th:object="${newGroup}">
                    <div class="field-group">
                        <label for="name">Név</label>
                        <input id="name" type="text" th:field="*{name}" />
                    </div>

                    <div class="field-group">
                        <label for="longName">Név</label>
                        <input id="longName" type="text" th:field="*{longName}" />
                    </div>

                    <div class="field-group">
                        <label for="website">Weblap</label>
                        <input id="website" type="text" th:field="*{website}" />
                    </div>

                    <div class="field-group">
                        <label for="introduction">Introduction</label>
                        <textarea id="introduction" th:field="*{introduction}"></textarea>
                    </div>

                    <div class="field-group">
                        <label for="visible">Láthatóság</label>
                        <div style="clear: both"></div>

                        <label class="switch">
                            <input type="checkbox" th:checked="*{visible}" th:name="visible" id="visible" />
                            <span class="slider"></span>
                        </label>
                        <span class="note">Legyen-e látható és elérhető nem admin felhasználóknak is?</span>
                        <div style="clear: both"></div>
                    </div>

                    <div class="field-group">
                        <input type="submit" value="Mentés" class="btn-large" />
                        <a th:href="@{/su/groups}" class="btn btn-secondary btn-large">Vissza</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
